datasets==2.15.0
transformers==4.35.2
pytorch-lightning==2.1.2
torch==2.1.1
torchmetrics==1.2.0
Jinja2==3.1.2
pydantic==2.5.1
pydantic_core==2.14.3
rich==13.7.0
loguru==0.7.2
omegaconf==2.3.0
tensorstore==0.1.50
stackprinter==0.2.10
